/* -- GLOBALS | GLOBALS | GLOBALS -- */

:root {
  --pColor: #272a31;
  --sColor: #ec5242;
  --tColor: #d3d3d3;
}

*,
*::after,
*::before {
  font-family: "Lato", sans-serif;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  display: block;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.switch {
  display: none;
}

/* -- GLOBALS | GLOBALS | GLOBALS -- */

/* ACCESSIBILITY | ACCESSIBILITY */

#accessibilityCont {
  width: 100vw;
  height: 2rem;
  background-color: var(--pColor);
  display: none;
}

#accessibility {
  display: flex;
  width: 80%;
  padding: 0 1rem;
  gap: 1rem;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
  text-align: center;
  color: white;
}

.accessibilityIcon {
}

#languageWrapper {
  height: 1.5rem;
  width: 4rem;
  overflow: hidden;
  transition: 100ms all ease-in-out;
}

#languageCont {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--pColor);
  user-select: none;
}

.viewMenu {
  height: 6.5rem !important;
  transform: translateY(2.5rem);
  user-select: all;
}

.language {
  padding: 0.2rem 0;
  cursor: pointer;
  user-select: none;
}

.language:not(:nth-child(1)) {
  text-decoration: line-through;
}

.language:hover {
  background: var(--sColor);
}

#register {
}

#logIn {
}

/* ACCESSIBILITY | ACCESSIBILITY */

/* NAVBAR MENU | NAVBAR MENU | NAVBAR MENU */

#menuCont {
  width: 100%;
  height: 5rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid var(--sColor);
  z-index: 2;
  position: relative;
  top: 0;
}

#menu {
  z-index: 2;
}

#menuBtn {
  height: 3rem;
  width: 3rem;
  display: flex;
  background-color: rgba(190, 190, 190, 0);
  opacity: 0.8;
  border: none;
  z-index: 2;
  position: fixed;
  transform: translateY(0.1rem) translateX(1rem);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

#menuBtn:hover {
  opacity: 1;
}

#menuBtn:active {
  background-color: var(--sColor);
  opacity: 0.5;
}

#menuBtn img {
  width: 100%;
  height: 100%;
}

.logoCont {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#menuLogo {
  height: 3.3rem;
  left: 0;
}

.menuOn {
  opacity: 1 !important;
  transform: translateX(45rem);
  position: fixed !important;
}

.block {
  overflow: hidden;
}

#menuBar {
  top: -1rem;
  left: -45rem;
  height: 90vh;
  gap: 0.7rem;
  width: 100vw;
  padding: 2rem;
  display: flex;
  list-style: none;
  position: absolute;
  flex-direction: column;
  background-size: 15%;
  background-color: #272a31f8;
  justify-content: center;
  transition: 300ms opacity ease-in-out;
  opacity: 0;
  border-bottom: 4px solid var(--sColor);
}

.menuItem {
  width: 80%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  border-bottom: 2px solid var(--sColor);
  border-left: 2px solid var(--sColor);
  transition: 300ms all ease-in-out;
  padding-left: 1rem;
  box-shadow: 0 0 61px -1px rgba(0, 0, 0, 0.75);
  z-index: 1;
  background-color: #272a31;
}

.menuItem:last-child {
  -webkit-text-stroke: 0.5px;
  margin-top: 1rem;
  width: 35%;
  height: 3.5rem;
  border: 3px solid var(--sColor);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pColor);
}

.menuItem:hover {
  border-bottom: 2px solid var(--sColor);
  transform: scale(0.95);
  background-color: transparent;
}

.menuItem:active {
  background-color: var(--sColor);
  transition: 1ms all ease-in-out;
}

.menuItem:last-child:hover {
  background-color: var(--sColor);
}

.menuLink {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.menuLink:link,
.menuLink:active,
.menuLink:visited {
  text-decoration: none;
  color: white;
}

#campaignBtn {
  justify-content: center;
  padding-right: 1rem;
  height: 100%;
  white-space: nowrap;
}

/* NAVBAR MENU | NAVBAR MENU | NAVBAR MENU */

/* PARTNERS | PARTNERS | PARTNERS */

#partnersCont {
  background-color: var(--pColor);
  background-image: url(bg/partners-bg.webp);
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
}

#partners {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#partnersTittle {
  font-size: 1.3rem;
  color: white;
  padding: 0;
  margin: 0;
}

#partnersTittle:before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 4rem;
  width: 4rem;
  margin: -2rem 0.5rem;
  border-bottom: 3px solid var(--sColor);
  transition: 300ms all ease-in-out;
}

#partnersMid {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

#partnersButtom {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.partnerLogo {
  border-radius: 6px;
  display: flex;
  align-items: center;
  height: 2.4rem;
  width: auto;
  filter: brightness(200);
}

/* PARTNERS | PARTNERS | PARTNERS */

/* FOOTER | FOOTER | FOOTER */

#footerCont {
  width: 100vw;
  height: auto;
}

#footer {
  width: 100%;
}

#copryright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  background-image: url(bg/copryright-pattern.webp);
  background-size: 4rem;
}

#footerImg {
  height: auto;
  width: 50%;
  padding: 0 0.5rem;
}

#info {
  width: 50%;
  height: auto;
  font-size: 0.7rem;
  text-align: center;
  line-height: 1rem;
  padding: 0 0.5rem;
  margin: 0;
}

/* FOOTER | FOOTER | FOOTER */

/* QUERIES MIN | QUERIES MIN */

@media (min-width: 375px) {
  /* small font correction */
  #info {
    font-size: 0.845rem;
  }
}

@media (min-width: 430px) {
  /* small container correction */
  #info {
    font-size: 1rem;
  }
}

@media (min-width: 460px) {
  /* image size correction */
  #footerImg {
    transform: scale(0.8);
  }
}

@media (min-width: 500px) {
  /* logo correction */
  .partnerLogo {
    height: 3rem;
  }
}

@media (min-width: 560px) {
  /* footer correction */

  #footerImg {
    transform: scale(0.7);
  }

  #info {
    font-size: 1.2rem;
  }
}

@media (min-width: 680px) {
  /* navbar & uper bar responsiveness */
  #accessibilityCont {
    display: flex;
  }

  #menuCont {
    padding: 0;
    margin: 0;
  }

  #menu {
    z-index: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  #menuBtn {
    display: none;
  }

  .logoCont {
    width: 35%;
  }

  #menuLogo {
    height: 3rem;
    left: 0;
  }

  #menuBar {
    top: 0;
    left: 0;
    opacity: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: transparent;
    border: none;
    position: relative;
    width: 59%;
    margin: 0;
    padding: 0;
  }

  .menuItem {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: ;
    border-bottom: none;
    border-left: none;
    box-shadow: none;
    background-color: transparent;
  }

  .menuItem:hover {
    border-bottom: none;
    transform: scale(1);
    background-color: transparent;
  }

  .menuItem:last-child {
    -webkit-text-stroke: 0.5px;
    margin-top: 0;
    width: auto;
    height: 3.5rem;
    border: 3px solid var(--sColor);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .menuLink {
    color: black;
    height: 100%;
  }

  .menuLink:link,
  .menuLink:active,
  .menuLink:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  #campaignBtn {
    justify-content: center;
    padding: 0 0.5rem;
    height: 100%;
    white-space: nowrap;
  }
}

/* QUERIES MIN | QUERIES MIN */

/* QUERIES MAX | QUERIES MAX */

@media (max-width: 360px) {
  /* logo correction */
  #menuLogo {
    height: 3rem;
  }
}

@media (max-width: 390px) {
  /* logo correction */
  .partnerLogo {
    height: 1.8rem;
  }
}

@media (max-width: 520px) {
  /* logo correction */
  #menuLogo {
    opacity: 0;
  }
}

/* QUERIES MAX | QUERIES MAX */
